.swiper-projects {
  /* --swiper-navigation-color: #ff0cb6; */
  --swiper-pagination-color: #FF2E00;
  --swiper-pagination-bullet-inactive-color: rgba(237, 237, 238, 0.5);
  --swiper-pagination-bullet-inactive-opacity: 1;
  
  .swiper-slide {
    max-width: 455px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding-bottom: 50px; /* Pagination */
    
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    top: calc(50% - 25px);
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    width: 28px;
    height: 28px;
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgb(255, 165, 0);
  }
  
  .swiper-button-prev {
    transform: rotate(90deg);
    left: 1rem;
    content: url('/assets/icons/arrow-down.svg');
  }
  
  .swiper-button-next {
    transform: rotate(-90deg);
    right: 1rem;
    content: url('/assets/icons/arrow-down.svg');
  }
  
  @media (hover: none) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}